
    <nav class="navbar navbar-light navbar-expand-lg sticky-top" style="background-color: #042577;">
        <button class="navbar-toggler navbar-toggler-light bg-white" type="button" data-toggle="collapse"
          data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <!-- <a class="navbar-brand" href="index.html">
            <img src="img/titulo.png" width="30" height="30" class="d-inline-block align-top" alt="logo">
            S.A.A.M
          </a> -->
        <a class="navbar-brand" href="../html/inicio.html">
          <img src="../images/logo.png" class="d-block" alt='...' height="110px" width="120px">
        </a>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
          <div class="navbar-nav mr-auto ml-auto">
            <!-- <a class="nav-item nav-link mr-2 active" href="index.html">Quienes Somos? <span
                  class="sr-only">(current)</span></a>
              <a class="nav-item nav-link mr-2" href="registroMascota.html">Registrar Mascota</a>
              <a class="nav-item nav-link mr-2" href="adoptar.html">Adoptar</a>
              <a class="nav-item nav-link mr-2" href="#">Mascotas Perdidas</a>
              <a class="nav-item nav-link mr-2" href="#">Cuidados</a> -->
            
              <div class="dropdown">
                <button class="btn text-white dropdown-toggle nav-item nav-link mr-2" type="button"
                  style="background-color:#042577" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                  aria-expanded="false">
                  Empleados
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="/">Empleado activos</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="/users/users_hist">Historial de empleados</a>
                </div>
                </div>
                <div class="dropdown">
                <button class="btn text-white dropdown-toggle nav-item nav-link mr-2" type="button"
                  style="background-color:#042577" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                  aria-expanded="false">
                  Deudas
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="/deudas_hist">Deudas</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="/deudas/clientes">Clientes</a>
                </div>
                </div>
              <div class="dropdown">
                <button class="btn text-white dropdown-toggle nav-item nav-link mr-2" type="button"
                style="background-color:#042577" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                Productos
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="/products">Ver Productos</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/products/descontinuados">Ver Productos Descontinuados</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/products/categorias">Gestionar Categorías</a>
                </div>
              </div>
              <div class="dropdown">
                <button class="btn text-white dropdown-toggle nav-item nav-link mr-2" type="button"
                style="background-color:#042577" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                Ventas
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="sales/sales_hist">Ventas Realizadas</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/sales">Registrar Venta</a>
                </div>
              </div>
              <div class="dropdown">
                <button class="btn text-white dropdown-toggle nav-item nav-link mr-2" type="button"
                  style="background-color:#042577" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                  aria-expanded="false">
                  Pedidos Online
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="/pedidos">En proceso</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="/pedidosfin">Finalizados</a>
                </div>
                </div>
          </div>
          <div class="d-flex flex-row justify-content-center">
            <!-- <a href="inicio.html" class="btn btn-primary mr-2">iniciar Sesion</a>
              <a href="#" class="btn btn-success">Registrarse</a> -->
            <a href="micuenta.html"><button type="button" style="background-color:#042577" class="btn text-white mr-2">Mi
                cuenta</button></a>
            <a href="micuenta.html"><img src="../images/User_Circle.png" class="align-right justify-content-center"
                alt='...' height="30px" width="30px"></a>
          </div>
        </div>
      </nav><br>
    
      <!-- <div  id="banner" class="container-fluid">
        <div class="row">
            <div class="col-md-4 text-white text-center">
                <a href="inicio.html"><img src="../images/logo.png" class="d-block" alt='...' height="130px" width="130px"></a></div>
                <div id="fuente" class="col-md-5 mt-4 text-white text-right"><br>				
                    <a href="empleados.html"><button type="button" style="background-color:#042577" onclick ="empleados.html" class="btn text-white">Empleados</button></a>
                    <a href="deudores.html"><button type="button" style="background-color:#042577" class="btn text-white">Clientes deudores</button></a>
                    <a class="btn dropdown-toggle" role="button" data-toggle="dropdown" style="color:white" aria-haspopup="true">Productos</a>
                          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" href="producto.html">Ver Productos</a>
                            <a class="dropdown-item" href="categoria.html">Gestionar Categorías</a></div>
                </div>
                <div id="fuente" class="col-md-3 mt-4 text-white text-left"><br>
                    <a class="btn dropdown-toggle" role="button" data-toggle="dropdown" style="color:white" aria-haspopup="true">Ventas</a>
                          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" href="histventas.html">Ventas Realizadas</a>
                            <a class="dropdown-item" href="factura.html">Registrar Venta</a></div>
                          <a href="micuenta.html"><button type="button" style="background-color:#042577" class="btn text-white">Mi cuenta</button></a>
                    <a href="micuenta.html"><img src="../images/User_Circle.png" class="align-right" alt='...' height="30px" width="30px"></a>
                </div>				
        </div>
    </div><br> -->
  