<!DOCTYPE html>
<html lang="en">

<head>
	<title>Categorías - Supermercado El Tío</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	

	<link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css"/>
	<link rel="stylesheet" type="text/css" href="../css/producto.css"/>
	
</head>
<body onload="">
	<script rel="stylesheet" type="text/javascript" src="../../css/categoria.js"></script>

  <%- include('./partials/_menu'); %>

		
<div class="container-fluid text-center">
	<img src="../images/figuras.jpg" width="100%"></div><br>

<div class="row ml-5 mr-5 text-center">
<table class="table table-striped text-center" style="font-size:22px">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Nombre</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody>
    <% if(data) { %>
        <% for (var i=0; i< data.length ; ++i) {%>
            <tr>
                <td><%= data[i].id_tipoProducto %> </td>
                <td><%= data[i].descripcion %> </td>
                <td>
                  <div class="dropdown show">
                    <a class="btn dropdown-toggle" src="images/puntos.png" href="#" role="button" id="desplegable"
                      data-toggle="dropdown" aria-haspopup="true">
                      <img src="../images/puntos.png" class="align-right" height="30px" width="30px">
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <button onclick="editar(<%=data[i].id_tipoProducto%>)">
                        <a class="dropdown-item" data-toggle="modal" style="background-color:#FFFFFF" id="btn-abrir-popup2"
                      href="#categoria2">Editar</a>
                    </button>
                    </div>
                  </div>
                </td>
                
            </tr>
        <% } %>
    <% } %> 
</tbody>

</table>

</div>

<div class="container">
	<div class="row">
	  <div class="col-md-11 text-right"  >
			  <a class="btn-flotante" data-toggle="modal" href="#categoria1"><button id="redondo" style="background-color:#042577" class="btn text-white"><h3>+</h3></button></a>
			</div>
	  </div>
  </div>

<div class="modal fade" id="categoria1" style="top:70px">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-titletext-center" id="exampleModalLabel">Añadir Categoría</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">ID</label>
            <input type="text" class="form-control" id="recipient-telf">
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Nombre</label>
           <input type="text" class="form-control" id="recipient-dir">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary">Guardar cambios</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="categoria2" style="top:70px">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-titletext-center" id="exampleModalLabel">Editar Categoría</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">ID</label>
            <input type="text" class="form-control" id="recipient-telf">
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Nombre</label>
           <input type="text" class="form-control" id="recipient-dir">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary">Guardar cambios</button>
      </div>
    </div>
  </div>
</div>




<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
	<script type="text/javascript" src="/js/bootstrap.min.js"></script>
</body>
</html>