<!DOCTYPE html>
<html lang="en">
<head>
	<title>Supermercado El Tío</title>
	<link rel="stylesheet" type="text/css" href="../css/login.css"/>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	
</head>
<body onload="">
	<script rel="stylesheet" type="text/javascript" src="../../css/login.js"></script>

    <div class="container">
      <div class="backbox">
        <div class="loginMsg">
          <div class="textcontent">
            <p class="title">Don't have an account?</p>
            <p>Sign up to save all your graph.</p>
            <button id="switch1">Sign Up</button>
          </div>
        </div>
        <div class="signupMsg visibility">
          <div class="textcontent">
            <p class="title">Have an account?</p>
            <p>Log in to see all your collection.</p>
            <button id="switch2">LOG IN</button>
          </div>
        </div>
      </div>
      <!-- backbox -->
  
      <div class="frontbox">
        <div class="login">
          <h2>LOG IN</h2>
          <div class="inputbox">
            <input type="text" name="email" placeholder="  EMAIL">
            <input type="password" name="password" placeholder="  PASSWORD">
          </div>
          <p>FORGET PASSWORD?</p>
          <button>LOG IN</button>
        </div>
  
        <div class="signup hide">
          <h2>SIGN UP</h2>
          <div class="inputbox">
            <input type="text" name="fullname" placeholder="  FULLNAME">
            <input type="text" name="email" placeholder="  EMAIL">
            <input type="password" name="password" placeholder="  PASSWORD">
          </div>
          <button>SIGN UP</button>
        </div>
  
      </div>
      <!-- frontbox -->
    </div>
  </body>
  
  </html>