<!DOCTYPE html>
<html lang="en">

<head>
	<title>Lista de Deudores - Supermercado El Tío
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	</title>
	<link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css"/>
	<link rel="stylesheet" type="text/css" href="../css/index.css"/>
	<link rel="stylesheet" type="text/css" href="../css/factura.css"/>
	
</head>
<body onload="">
	<script rel="stylesheet" type="text/javascript" src=""></script>

	<%- include('./partials/_menu'); %>

<div   id="fcontenido">
	<h1 style="font-size:50px">Lista de Deudores</h1>
			<div  class="input-group mb-3">
		  <input type="search" class="form-control" placeholder="Search" aria-describedby="basic-addon2"> 
		  <div class="input-group-append">
		    <button type="button" style="background-color:#042577; font-size: 16px" class="btn text-white">Buscar</button>
		  </div>
		</div>
			
</div>

<div class="row ml-5 mr-5">
<table class="table table-striped text-center" style="font-size:22px">
  <thead>
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Saldo</th>
      <th scope="col">Telefono</th>
      <th scope="col">Direccion</th>
      <th scope="col">ID Venta</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody id="tbody">
    <tr>
      <td>nx</td>
      <td>ux</td>
      <td>tx</td>
      <td>dx</td>
      <td>cx</td>
      <td><div class="dropdown show">
		  <a class="btn dropdown-toggle" src="images/puntos.png" href="#" role="button" id="desplegable" data-toggle="dropdown" aria-haspopup="true"> 
		  	<img src="../images/puntos.png" class="align-right" height="30px" width="30px"> 
		  </a>

			  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
			    <a class="dropdown-item" data-toggle="modal" style="background-color:#FFFFFF" href="#ventana1">Cancelar Deuda</a>
			    <a class="dropdown-item" data-toggle="modal" href="#ventana2">Abonar</a>
			  </div>
			</div></td>
    </tr>
  </tbody>
</table>
</div>

<div class="modal fade" id="ventana1" style="top:250px">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="model-header">
						<button tyle="button" class="close" data-dismiss="modal" aria-hidden="true" style="margin-right: 10px">&times;</button>
						<h6 class="modal-title" style="text-align: center">¿Seguro quiere cancelar la deuda?</h6>
						</div>
						<div class="modal-footer">
					
						</div>
						<button type="button" onclick="eliminar()" id="deudaeliminada" data-dismiss="modal" style="background-color:#042577; font-size:16px; width:40%; margin-left:150px" class="btn text-white">Eliminar Deuda</button>
						<br>
					
					</div>
				</div>
			</div>

<div class="row">
<div class="col-md-11 text-right"  >
        <a class="btn text-white" id="redondo" data-toggle="modal" style="background-color:#042577" href="#ventana3"><h3>+</h3></a>
	
		  </div>
</div><br><br>






<div class="modal fade" id="ventana2" width="80%">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="model-header">
						<button tyle="button" class="close" data-dismiss="modal" aria-hidden="true" style="margin-right: 10px">&times;</button><br>
						</div>
						<div id="vent"><h1 align="center">Abonos</h1><br>
							<label id="saldo"> Saldo pendiente: </label>
								<label id="idVenta">Debe ser automatico</label><br>
							<label id="clien">Cliente: </label>
								<Label id="idVenta">Debe ser automatico, el de la accion</label>

								<div  id="banner2" class="container-fluid">
									<div class="row mt-4">
							      		<div class="col-md">
							        <table class="table table-striped" style="width: 100%;">
							          <thead>
							            <tr>
							              <th style="width:30%">ID Factura</th>
							              <th class="text-center" >Fecha de Compra</th>
							              <th class="text-center">Saldo</th>
							            </tr>
							          <tbody>
							    	 	<tr>
							      		  <td>id</td>
							      		  <td>fecha</td>
							      		  <td>saldo</td>
							      	    </tr>							      
							      	  </tbody>
							          </thead>
							        </table>
							        </div></div></div><br>
							<label style="margin-left: 50px"> Saldo a abonar: </label><Input type = "text" id ="abono" value = "" style="margin-left: 70px"/></label><br><br>
							<button type="button" id="btnAbono" class="btn btn-primary">Abonar</button>
							</div> <br>
					
					</div>
				</div>
			</div>


	<div class="modal fade" id="ventana4" width="80%">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="model-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="margin-right: 10px">&times;</button><br>
						</div>
						<div id="vent"><h3 align="center">Editar Información</h3><br>
              <label style="margin-left: 50px"> Cliente: ${nombre}</label>
              <form id="formularioEdit">                  
						<label style="margin-left: 50px"> Dirección </label>
                <div class="form-group">
                    <input type="text" id="newdireccion" class="form control" placeholder="Direccion Nueva">
                  </div><br>
						<label style="margin-left: 50px"> Teléfono </label>
                <div class="form-group">
                    <input type="number" id="newtelefono" class="form control" placeholder="Teléfono Nuevo">
                  </div><br><br>
              <label style="margin-left: 50px"> Saldo: ${saldo}</label>
							<button type="submit" class="btn btn-primary">Guardar</button>
                </form>
							</div> 
          <br>					
					</div>
				</div>
			</div>

<div class="modal fade" id="ventana3" width="80%">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="model-header">
						<button tyle="button" class="close" data-dismiss="modal" aria-hidden="true" style="margin-right: 10px">&times;</button><br>
						</div>
						<div id="addDeudor"><h1 align="center">Añadir Deudor</h1><br>
							<div class="card-body">
                <form id="formulario">
                  <div class="form-group">
                    <input type="text" id="nombreD" class="form control" placeholder="Nombre">
                  </div>
                  <div class="form-group">
                    <input type="number" id="saldoD" class="form control" placeholder="Saldo">
                  </div>
                  <div class="form-group">
                  <input type="number" id="telefonoD" class="form control" placeholder="Teléfono">
                  </div>
                  <div class="form-group">
              <input type="text" id="direccionD" class="form control" placeholder="Direccion">
                  </div>
          <button type="submit" class="btn btn-primary">Agregar Deudor</button>
                </form>
          <br>
					
					</div>
				</div>
			</div></div></div>



  

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

<script type="text/javascript" src="../js/deudores.js"></script>
</body>
</html>
