<%- include('./partials/_header'); %>

<html lang="es">
<head>
	<title>Supermercado El Tío</title>
	<link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css"/>
	<link rel="stylesheet" type="text/css" href="../../css/producto.css"/>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body onload="">
    <script rel="stylesheet" type="text/javascript" src=""></script>

	<%- include('./partials/_menu'); %>


<div class="container">
    <div class="row">

        <div class="container mt-12">
            <div class="row">
                <div class="col-md-5">
                    <div style="text-align: center;"><h3>Añadir Producto</h3></div>
                    <div class="card">
                        <div class="card-body">
                            <form action="/products/add" method="post">
                                <div class="form-group mt-1">
                                    <h6>Nombre del producto</h6>
                                    <input type="text" name="nombre" placeholder="Nombre" class="form-control" value="">
                                </div>
                                <div class="form-group mt-1">
                                    <h6>Precio</h6>
                                    <input type="number" name="precio" placeholder="Precio" class="form-control" value="">
                                </div>
                                <div class="form-group mt-1">
                                    <h6>Existencias</h6>
                                    <input type="number" name="existencias" placeholder="Cant. Max" class="form-control" value="">
                                </div>
                                <div class="form-group mt-1">
                                    <h6>Cantidad minima en bodega</h6>
                                    <input type="number" name="cant_Minima" placeholder="Cant. Min" class="form-control" value="">
                                </div>
                                <div class="form-group mt-1">
                                    <h6>Cantidad maxima en bodega</h6>
                                    <input type="number" name="cant_Maxima" placeholder="Cant. Max" class="form-control" value="">
                                </div>
                                <div hidden>
                                    <input type="number" name="descontinuado" placeholder="Cant. Max" class="form-control" value="0">
                                </div>
                                
                                <div class="form-group mt-1">
                                    <h6>Magnitud</h6>
                                    <select name="id_Magnitud" class="form-control" aria-label="Default select example">
                                        <% if(magnitud) { %>
                                        <% for (let i=0; i< magnitud.length ; ++i) {%>
                                                <option  value="<%= magnitud[i].id_Magnitud %>">
                                                    <%= magnitud[i].nombre %>
                                                </option>
                                        
                                        <%}}%>
                                      </select>
                                </div>
        
                                <div class="form-group mt-1">
                                    <h6>Categoria</h6>
                                    <select name="id_tipoProducto" class="form-control" aria-label="Default select example">
                                        <% if(categoria) { %>
                                        <% for (var i=0; i< categoria.length ; ++i) {%>
                                                <option  value="<%= categoria[i].id_tipoProducto %>">
                                                    <%= categoria[i].descripcion %>
                                                </option>
                                        <%}}%>
                                      </select>
                                </div>
                                
                                <div class="form-group mt-1">
                                    <h6>Imagen del producto</h6>
                                    <input type="file" name="img" >
                                </div>
                                
                                <button type="submit" class="btn btn-primary mt-1">
                                    Añadir Producto
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-7 text-center">
                    <img src="../images/alimentos.png" alt="dfdf">
                </div>
            </div>
        </div>
		
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
  integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
  crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
  integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
  crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
  integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
  crossorigin="anonymous"></script>
  
</body>
</html>
