<%- include('./partials/_header'); %>

<html lang="es">
<head>
	<title>Supermercado El Tío</title>
	<link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css"/>
	<link rel="stylesheet" type="text/css" href="../../css/producto.css"/>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body onload="">
    <script rel="stylesheet" type="text/javascript" src=""></script>

	<%- include('./partials/_menu'); %>


<div class="container mt-5">
    <div class="row">
        <div class="col-md-5">
            <H3>Editar Producto</H3>
            <div class="card">
                <div class="card-body">
                    <form action="/products/update/<%= data.id_Producto %>" method="post">
                        <div class="form-group mt-1">
							<h6>Nombre del producto</h6>
                            <input type="text" name="nombre" placeholder="Nombre" class="form-control" value="<%= data.nombre %>">
                        </div>
                        <div class="form-group mt-1">
                            <h6>Precio</h6>
							<input type="number" name="precio" placeholder="Precio" class="form-control" value="<%= data.precio %>">
                        </div>
                        <div class="form-group mt-1">
							<h6>Cantidad minima en bodega</h6>
                            <input type="number" name="cant_Minima" placeholder="Cant. Min" class="form-control" value="<%= data.cant_Minima %>">
                        </div>
						<div class="form-group mt-1">
							<h6>Cantidad maxima en bodega</h6>
                            <input type="number" name="cant_Maxima" placeholder="Cant. Max" class="form-control" value="<%= data.cant_Maxima %>">
                        </div>
                        
						<div class="form-group mt-1">
							<h6>Magnitud</h6>
							<select name="id_Magnitud" class="form-control" aria-label="Default select example">
								<% for (let i=0; i< magnitud.length ; ++i) {%>
									<%if(magnitud[i].id_Magnitud==data.id_Magnitud){%>
										<option  value="<%= magnitud[i].id_Magnitud %>">
											<%= magnitud[i].nombre %>
										</option>
									<%}%>
								<%}%>
								<% if(magnitud) { %>
								<% for (let i=0; i< magnitud.length ; ++i) {%>
									<%if(magnitud[i].id_Magnitud!=data.id_Magnitud){%>
										<option  value="<%= magnitud[i].id_Magnitud %>">
											<%= magnitud[i].nombre %>
										</option>
									<%}%>
								
								<%}}%>
							  </select>
                        </div>

                        <div class="form-group mt-1">
							<h6>Categoria</h6>
							<select name="id_tipoProducto" class="form-control" aria-label="Default select example">
								<% for (let i=0; i< categoria.length ; ++i) {%>
									<%if(categoria[i].id_tipoProducto==data.id_TipoProducto){%>
										<option  value="<%= magnitud[i].id_Magnitud %>">
											<%= categoria[i].descripcion %>
										</option>
									<%}%>
								<%}%>
							
							
								<% if(categoria) { %>
								<% for (var i=0; i< categoria.length ; ++i) {%>
									<%if(categoria[i].id_tipoProducto!=data.id_TipoProducto){%>
										<option  value="<%= categoria[i].id_tipoProducto %>">
											<%= categoria[i].descripcion %>
										</option>
									<%}%>
								
								<%}}%>
							  </select>
                        </div>
                        
                        <button type="submit" class="btn btn-primary mt-1">
                            Editar Producto
                        </button>
                    </form>
                </div>
            </div><br><br>
        </div>
        <div class="col-md-5">
            <img src="../../images/alimentos.png" alt="">
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
  integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
  crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
  integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
  crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
  integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
  crossorigin="anonymous"></script>
  
  <script type="text/javascript" src="../js/empleados.js"></script>
</body>
</html>