<%- include('./partials/_header'); %> 

<html lang="es">
<head>
	<title>Supermercado El Tío</title>
	<link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css"/>
	<link rel="stylesheet" type="text/css" href="../css/producto.css"/>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body onload="">
    <script rel="stylesheet" type="text/javascript" src=""></script>

	<%- include('./partials/_menu'); %>


<div class="container-fluid text-center">
	<div class="row">
	<div class="col-md-4">
		<a href=""><button class="button" style="font-size: 15px;" id="bt"><img src="../images/img carnes y pescao.png" width="30px" height="30px">  Carnes</button>
	</a>
	</div>
	<div class="col-md-4">
		<a href=""><button class="button" style="font-size: 15px;" id="bt"><img src="../images/harina.png" width="30px" height="30px">  Viveres</button>
	</a>
	</div>
	<div class="col-md-4">
		<a href=""><button class="button" style="font-size: 15px;" id="bt"><img src="../images/img enlatados.png" width="30px" height="30px">  Enlatados</button>
	</a>
	</div>
    </div>
<br>
	<div class="row">
	<div class="col-md-4">
		<a href=""><button class="button" style="font-size: 15px;" id="bt"><img style="margin-right: 10px" src="../images/img frutas y verduras.png" width="30px" height="30px">Frutas y Verduras</button>
	</a>
	</div>
	<div class="col-md-4">
		<a href=""><button class="button" style="font-size: 15px;" id="bt"><img src="../images/img aseo.png" width="30px" height="30px"> Aseo y Limpieza</button>
	</a>
	</div>
	<div class="col-md-4">
		<a href=""><button class="button" style="font-size: 15px;" id="bt"><img src="../images/img bebida.png" width="30px" height="30px">Bebidas</button>
	</a>
	</div>
	</div>
</div>


<div   id="fcontenido">
	<h1 style="font-size:50px">Lista de Productos</h1>
			<div  class="input-group mb-3">
		  <input type="search" class="form-control" placeholder="Search" aria-describedby="basic-addon2"> 
		  <div class="input-group-append">
		    <button type="button" style="background-color:#042577; font-size: 18px" class="btn text-white">Buscar</button>
		  </div>
		</div>
			
</div>

<div class="row ml-5 mr-5">
    <table class="table table-striped text-center" style="font-size:22px">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Nombre</th>
          <th scope="col">Categoria</th>
          <th scope="col">Magnitud</th>
          <th scope="col">Precio</th>
          <th scope="col">Existencias</th>
          <th scope="col">Estado</th>
          <th scope="col"><img width="40px" height="40px" style="text-align:center;" src="../images/herramientas.png"></th>
        </tr>
      </thead>
      <tbody>
        <% if(data) { %>
            <% for (var i=0; i< data.length ; ++i) {%>
                <tr>
                    <td><%= data[i].id_Producto %> </td>
                    <td><%= data[i].nombre %> </td>
                    <td><%= data[i].categoria %> </td>
                    <td><%= data[i].magnitud %> </td>
                    <td><%= data[i].precio %> </td>
                    <td><%= data[i].existencias %> </td>
					<% var x;
					if(data[i].existencias==0){
						x="No hay existencias"
					}else{
						x=data[i].existencias <= data[i].cant_Minima ? "Bajo" :
                      data[i].existencias <= data[i].cant_Maxima && 
                      data[i].existencias > data[i].cant_Minima? "Normal" : "Sobreexistencias"
					}%>
                    <td><%= x %> </td>
                    <td>
                      <div class="dropdown show">
                        <a class="btn dropdown-toggle" src="images/puntos.png" href="#" role="button" id="desplegable"
                          data-toggle="dropdown" aria-haspopup="true">
                          <img src="../images/puntos.png" class="align-right" height="30px" width="30px">
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                              <a class="dropdown-item" href="products/descontinuar/<%= data[i].id_Producto %>">Descontinuar</a>
                              <a class="dropdown-item" href="products/update/<%= data[i].id_Producto%>">Editar</a>
                              <a class="dropdown-item" href="">Añadir existencias</a>
                        </div>
                        
                      </div>
                    </td>
                </tr>
            <% } %>
        <% } %> 
    </tbody>
    </table>
  </div>



  <div class="container">
	<div class="row">
	  <div class="col-md-11 text-right"  >
			  <a class="btn-flotante" href="/products/add"><button id="redondo" style="background-color:#042577" class="btn text-white"><h3>+</h3></button></a>
			</div>
	  </div>
  </div>


  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
  integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
  crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
  integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
  crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
  integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
  crossorigin="anonymous"></script>
  
  <script type="text/javascript" src="../js/empleados.js"></script>

</body>




<div class="container">
    <div class="row mt-4">
        <br>
        <div class="col-md-5">
            <div class="card">
                <div class="card-body">
                    <form action="products/add" method="post">
                        <div class="form-group mt-1">
                            <input type="text" name="nombre" placeholder="Nombre" class="form-control" value="">
                        </div>
                        <div class="form-group mt-1">
                            <input type="number" name="precio" placeholder="Precio" class="form-control" value="">
                        </div>
                        <div class="form-group">
                            <input type="number" name="existencias" placeholder="Existencias" class="form-control" value="">
                        </div>
                        <div class="form-group mt-1">
                            <input type="number" name="cant_minima" placeholder="Cant. Min" class="form-control" value="">
                        </div>
                        <div class="form-group mt-1">
                            <input type="number" name="id_magnitud" placeholder="Magnitud" class="form-control" value="">
                        </div>
                        <div class="form-group mt-1">
                            <input type="number" name="id_tipoProducto" placeholder="Producto ID" class="form-control" value="">
                        </div>
                        <div class="form-group mt-1">
                            <input type="number" name="cant_maxima" placeholder="Cant. Max" class="form-control" value="">
                        </div>
                        <button type="submit" class="btn btn-primary mt-1">
                            Añadir nuevo Producto
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<%- include('./partials/_footer'); %> 