<!DOCTYPE html>
<html lang="ess">

<head>
    <title>Factura Supermercado el Tío</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css"/>
	<link rel="stylesheet" type="text/css" href="../css/factura.css"/>
	
</head>
<body onload="">
	<script rel="stylesheet" type="text/javascript" src=""></script>

  <%- include('./partials/_menu'); %>


  <div id="contenido" class="container-fluid"><br>
    <div class="row" id="titulo-venta">
      <div class="col-md-12">
        <h2 class="d-flex justify-content-sm-center">Registrar Venta</h2>
      </div>
    </div>
    <div class="row" id="venta">
      <div class="col-ms-6 input-group">
        <Label> Venta No. <%= data.length +1 %></label>
        
      </div>
    </div>
    <div class="row" id="cliente">
      <div class="col-md-6 input-group">
        <Label> Cliente: <Input type="text" id="valor_cliente" value="" /></label>
      </div>
      <div class="col-md-2">
      </div>
      <div class="col-md-4 input-group">
        <Label id="vendedor">Vendedor:<Label id="nombreVendedor"> Pendiente </label></label>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div id="banner2" class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <table class="table table-striped" id="table-factura" style="width: 100%;">
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row ">
      <div class="col-md-11">
        <a class="float-right mr-2" data-toggle="modal" href="#ventana2"><button type="button" id="btnEliminarProducto"
            class="btn btn-danger">Eliminar Producto(s)</button></a>
            <%= console.log(producto[0]) %>
            <%function llenarSelect() {%>


              <% console.log(productos);%>
              <% const select = document.getElementById('select');%>
              
              <% if (select.length==1) {%>
                <%for (let index = 0; index < producto.length; index++) {%>
                    <%console.log(producto);%>
                      <% const option = document.createElement('option');%>
                      <%option.text = producto[index].nombre;%>
                      <% option.value = producto[index].id_Producto;%>
                      <%select.appendChild(option);%>
                      <%}%>   
                  <%}%>
          <%}%>
          <%var m=new Array() %>
          <% m=producto%>
          <button onclick="llenarSelect()"><a class="dropdown-item"  data-toggle="modal" style="background-color:#FFFFFF"
            href="#ventana1">Inhabilitar</a></button>
          </div>
    </div>
    <div class="row">
      <div class="col-md-12" id="total-apagar">
        <Label id="total"> Total:</label>
        <Label id="totalVenta">Automático</label>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-11" >
        <a class="float-right mr-2" data-toggle="modal" href="#"><button type="button" id="btnRegVenta"
            class="btn btn-success">Registrar venta</button></a>
        <a class="float-right mr-2" data-toggle="modal" href="#ventana3"><button type="button" id="btn-fiar-venta"
            class="btn btn-primary">Fiar
            Venta</button></a>
      </div>
    </div>
  </div><br>

  <div class="modal fade" id="ventana3" style="margin-top: 10px;">
    <div class="modal-dialog">
      <div class="modal-content" id="ventana3-contenido">
        <div class="modal-header">
          <h2>Venta Fiada</h2>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="card container-fluid"><br>
            <form action="">
              <div class="row">
                <div class="col-md-6 form-group">
                  <label for="registroUnico" class="form-label"><strong>ID Factura:</strong></label>
                  <label for="" class="form-control">xxxxx</label>
                </div>
                <div class="col-md-6 form-group">
                  <label id="saldo"> <strong>Fecha de Compra:</strong></label>
                  <label id="saldo" class="form-control" aria-readonly=""> XX/XXXX/XXXX </label>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 form-group">
                  <label for="cliente" id="clien" class="form-label"><strong>Cliente:</strong></label>
                  <input type="text" id="deudor" name="cliente" value="" placeholder="Nombre del cliente"
                    class="form-control" />
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 form-group">
                  <label for="direccion" id="clien"><strong>Dirección:</strong> </strong></label>
                  <input type="text" id="deudor" name="direccion" value="" placeholder="Dirección"
                    class="form-control" />
                </div>
              </div>
              <div class=" row">
                <div class="col-md-12 form-group">
                  <label for="telefono" id="clien" class="form-label"><strong>Teléfono:</strong></strong></label>
                  <input type="text" id="deudor" name="telefono" value="" placeholder="telefono" class="form-control" />
                </div>
              </div>
              <button type=" button" id="btnAbono" class="btn btn-primary float-right ">Registrar Venta Fiada</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="ventana1" style="margin-top: 90px;">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title justify-content-sm-center" id="exampleModalLabel">Agregar Producto</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body card container-fluid">
          <div class="row">
            <div class="col-md-8 form-group">
              <label for="" class="form-label"><Strong>Producto</Strong></label>
              <select id="select" class="form-control">
                <option>opciones</option>
              </select>
            </div>
            <div class="col-md-4 form-group">
              <label for="message-text" class="form-label"><strong>Cantidad</strong></label>
              <input type="text" class="form-control" id="recipient-cant" onkeypress="return solonumeros(event)">
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-primary" id="agregar-producto">Agregar producto</button>
        </div>
      </div>
    </div>
  </div>



  <div class="modal fade" id="ventana2" style="top:70px">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Eliminar producto</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Esta seguro de eliminar estos productos</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-primary">Eliminar producto</button>
        </div>
      </div>
    </div>
  </div>

  <br>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
    crossorigin="anonymous"></script>
  <script type="../text/javascript" src="js/bootstrap.min.js"></script>
  <script type="text/javascript" src="../js/factura.js"></script>
</body>

</html>