<%- include('./partials/_header'); %> 
<!DOCTYPE html>
<html lang="es">

<head>
	<title>Lista de Empleados - Supermercado El Tío</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	

  <link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="../../css/index.css" />
</head>
<body onload="">
  
    <script rel="stylesheet" type="text/javascript" src=""></script>
  
    <%- include('./partials/_menu'); %>

<div class="container">
    <div class="row mt-4">
        <div class="col-md">
            <table class="table table-bordered table-hover">
                <thead>
                    <th scope="col">ID</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Vendedor</th>
                    <th scope="col">Cliente</th>
                    <th scope="col">Total</th>
                    <th></th>
                </thead>
                <tbody>
                    <% if(data) { %>
                        <% for (var i=0; i< data.length ; ++i) {%>
                            <tr>
                                <td><%= data[i].id_Venta %> </td>
                                <td><%= data[i].fecha_Venta %> </td>
                                <td><%= data[i].nombre %> </td>
                                <td><%= data[i].id_cliente_cedula %> </td>
                                <td><%= data[i].Total %> </td>
                                <td>
                                    <a href="sales/delete/<%= data[i].id_Venta %>" class="btn btn-danger">Eliminar</a>
                                    <a href="sales/update/<%= data[i].id_Venta %>" class="btn btn-info mt-1">Editar</a>
                                </td>
                            </tr>
                        <% } %>
                    <% } %> 
                </tbody>
            </table>
        </div>
        <br>
        
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
    crossorigin="anonymous"></script>
  <script type="../text/javascript" src="js/bootstrap.min.js"></script>
  <script type="text/javascript" src="../js/factura.js"></script>
<%- include('./partials/_footer'); %> 