<%- include('./partials/_header'); %>

<html lang="es">
<head>
	<title>Supermercado El Tío</title>
	<link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css"/>
	<link rel="stylesheet" type="text/css" href="../../css/producto.css"/>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body onload="">
    <script rel="stylesheet" type="text/javascript" src=""></script>

	<%- include('./partials/_menu'); %>


<div class="container">
    <div class="row">

        <div class="col-md-5">
            <div class="card">
                <div class="card-body">
                    <form action="/add" method="post">
                        <div class="form-group mt-1">
                            <input type="text" name="id_Cargo" placeholder="Cargo" class="form-control" value="">
                        </div>
                        <div class="form-group mt-1">
                            <input type="text" name="clave" placeholder="Contraseña" class="form-control" value="">
                        </div>
                        <div class="form-group">
                            <input type="text" name="nombre" placeholder="Nombre" class="form-control" value="">
                        </div>
                        <div class="form-group mt-1">
                            <input type="text" name="telefono" placeholder="Telefono" class="form-control" value="">
                        </div>
                        <div class="form-group mt-1">
                            <input type="text" name="direccion" placeholder="Dirección" class="form-control" value="">
                        </div>
                        <button type="submit" class="btn btn-primary mt-1">
                            Añadir nuevo usuario
                        </button>
                    </form>
                </div>
            </div>
        </div>
		<div class="col-md-7 text-center">
            <img src="../../images/add_usuario.png" alt="">
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
  integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
  crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
  integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
  crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
  integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
  crossorigin="anonymous"></script>
  
  <script type="text/javascript" src="../js/empleados.js"></script>
</body>
</html>
