<%- include('./partials/_header'); %> 


<head>
	<title>Lista de Empleados - Supermercado El Tío</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	
    <link rel="stylesheet" type="text/css" href="../../css/index.css" />
  <link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css" />
  
</head>
<body onload="">
  <script rel="stylesheet" type="text/javascript" src="../../css/empleados.js"></script>

  <%- include('./partials/_menu'); %>

  <div id="fcontenido">
    <h1   style="font-size:50px">Lista de Empleados</h1>
    <div class="input-group mb-3">
      <input type="search" class="form-control" placeholder="Search" aria-describedby="basic-addon2">
      <div class="input-group-append">
        <button type="button" style="background-color:#042577; font-size: 16px" class="btn text-white">Buscar</button>
      </div>
    </div>

  </div>

  <div class="row ml-5 mr-5">
    <table class="table table-striped text-center" style="font-size:22px">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Nombre</th>
          <th scope="col">Telefono</th>
          <th scope="col">Direccion</th>
          <th scope="col">Cargo</th>
          <th scope="col"><img width="40px" height="40px" style="text-align:center;" src="../images/herramientas.png">
          </th>
        </tr>
      </thead>
      <tbody>
        <% if(data) { %>
            <% for (var i=0; i< data.length ; ++i) {%>
                <tr>
                    <td><%= data[i].id_Usuario %> </td>
                    <td><%= data[i].nombre %> </td>
                    <td><%= data[i].telefono %> </td>
                    <td><%= data[i].direccion %> </td>
                    <td><%= data[i].id_Cargo %> </td>
                    <% var x = data[i].id_Usuario %>
                    <td>
                      <div class="dropdown show">
                        <a class="btn dropdown-toggle" src="images/puntos.png" href="#" role="button" id="desplegable"
                          data-toggle="dropdown" aria-haspopup="true">
                          <img src="../images/puntos.png" class="align-right" height="30px" width="30px">
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                          <button onclick="eliminar1(<%=data[i].id_Usuario%>)"><a class="dropdown-item" data-id="<%= data[i].id_Usuario %>" data-toggle="modal" style="background-color:#FFFFFF"
                            href="#ventana1">habilitar</a></button>
                          <a class="dropdown-item" style="background-color:#FFFFFF" id="btn-abrir-popup2"
                          href="/update/<%= data[i].id_Usuario %>">Editar información</a>
                          <a class="dropdown-item" data-toggle="modal" style="background-color:#FFFFFF" id="btn-abrir-popup3"
                            href="#ventana3">Restablecer contraseña</a>
                        </div>
                      </div>
                    </td>
                    
                </tr>
            <% } %>
        <% } %> 
    </tbody>
    </table>

    <div class="modal fade" id="ventana1" style="top:250px">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="model-header">
            <button tyle="button" class="close" data-dismiss="modal" aria-hidden="true"
              style="margin-right: 10px">&times;</button>
            <h6 class="modal-title" style="text-align: center">¿Seguro quiere eliminar este empleado?</h6>
          </div>
          <div class="modal-footer">
            <button type="button" style="background-color:#042577" class="btn text-white"
              data-dismiss="modal">Cancelar</button>
            <a href="/delete/id>"></a><button type="button"  id="Empleado_eliminado" style="background-color:#042577; font-size:16px; width:40%"
              class="btn text-white">Eliminar Empleado</button>
          </div>
          <br>
        </div>
      </div>
    </div>

    <div class="modal fade" id="ventana2" style="top:70px">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Editar Información</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                <label for="recipient-name" class="col-form-label">Teléfono</label>
                <input type="text" class="form-control" id="recipient-telf">
              </div>
              <div class="form-group">
                <label for="message-text" class="col-form-label">Dirección</label>
                <input type="text" class="form-control" id="recipient-dir">
              </div>
              <div class="form-group">
                <label for="recipient-name" class="col-form-label">Cargo</label><br>
                <select style="width:100%" class="form-select" aria-label="Default select example">
                  <option selected>Cargo</option>
                  <option value="1">Cargo 1</option>
                  <option value="2">Cargo 2</option>
                  <option value="3">Cargo 3</option>
                </select>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            <button type="button" class="btn btn-primary">Guardar cambios</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="ventana3" style="top:150px">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Cambiar contraseña</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                <label for="recipient-name" class="col-form-label">Ingrese contraseña de Administrador</label>
                <input type="password" class="form-control" id="recipient-name">
              </div>
              <div class="form-group">
                <label for="recipient-name" class="col-form-label">Nueva contraseña</label>
                <input type="password" class="form-control" id="recipient-name">
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            <button type="button" class="btn btn-primary">Guardar cambios</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="ventana4" style="top:40px">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="model-header">
            <button tyle="button" class="close" data-dismiss="modal" aria-hidden="true" style="margin-right: 10px">&times;</button><br>
            </div>
            <div id="addEmpleado"><h1 align="center">Añadir Empleado</h1><br>
              <div class="card-body">
                <form id="formulario">
                  <div class="form-group">
                    <input type="text" id="nombreE" class="form control" placeholder="Nombre">
                  </div>
                  <div class="form-group">
                    <input type="text" id="usuarioE" class="form control" placeholder="Usuario">
                        </div>
                  <div class="form-group">
                  <input type="number" id="telefonoE" class="form control" placeholder="Teléfono">
                  </div>
                  <div class="form-group">
              <input type="text" id="direccionE" class="form control" placeholder="Direccion">
                  </div>
                  <div class="form-group">
              <input type="text" id="cargoE" class="form control" placeholder="Cargo">
                  </div>
          <button type="submit" class="btn btn-primary">Agregar Empleado</button>
                </form>
          <br>
          
          </div>
        </div>
        </div>
      </div>
    </div>














<div class="container">
  <div class="row">
    <div class="col-md-11 text-right"  >
            <a href="/add"><button id="redondo" style="background-color:#042577" class="btn text-white"><h3>+</h3></button></a>
          </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
crossorigin="anonymous"></script>


</body>

</html>
<%- include('./partials/_footer'); %> 
