@charset "utf-8";

#banner{
	background-color:#042577;
	
	 height: 130px; 
      width: 100%; 
}

#fuente{
	font-family:"Helvetica";
	color:#fcfcfc;

}

nav a:hover{
	margin-top: 5px;
	margin-left: 5px;
}

nav button:hover{
	margin-top: 5px;
	margin-left: 5px;
}

#fcontenido{
	font-family:"Helvetica";
	color:#000000;
	padding:35px;
}

#contenido{
	background-color:#ffff;
	opacity: 80%;
	margin-left:470px;
	width:30%;
	height: 450px; 
	padding:15px;
}
#tam{
	width: 80%;
	margin: 0 auto;	

}
#nombre{
	font-family:"Impact";
	color:#042577;
	background-color:#C5D2F2;
	opacity: 90%;
	margin-left:470px;
	width:30%;
	height: 100px; 
	padding:15px;
}
#letra{
	font-family:"Gill Sans Extrabold";
	color:black;
	font-weight: bold;
} 

#ole{
	margin-left: 47%;

}

#tamano{
	border:2px solid #32a858;
	background-color:#defce8;
	margin:0 auto;
	width:100%;
	height:auto;
	padding:15px;
	-webkit-border-radius:12px;	-moz-border-radius:12px;border-radius:12px; /* css3 */
}
#err{
	border:2px solid #d64747;
	background-color:#d64747;
	margin:0 auto;
	width:50%;
	font-weight: bold;

	height:auto;
	padding:15px;
	-webkit-border-radius:12px;	-moz-border-radius:12px;border-radius:12px; /* css3 */
}



table{
	background:#fcfcfc; 
	margin: 15px;
	text-align: center;
	
font-size:"40";
} 
table th{
	color:#fcfcfc;
	text-align:center;
	background:#042577
}
table tr:nth-child(even) {/* css3 */ 
	color:#000;
   background:#dddddd; 
   text-align: center;
}
table tr:nth-child(odd) {/* css3 */
   color: #000;
   background: #042577;
   text-align: center;
}
table tr:nth-child(odd):hover{
   background-color:#a4c2eb;
   text-align: center;
}
table tr:nth-child(even):hover{
   background-color:#a4c2eb;
   text-align: center;
}

table td:nth-child(3){
   text-align: center;
}
#vent{
	border:2px solid #FFFFFF;
	background-color:#FFFFFF;
	margin:0 auto;
	width:95%;
	height:auto;
	padding:15px;
	-webkit-border-radius:12px;	-moz-border-radius:12px;border-radius:12px; /* css3 */
	position:relative;      
                -webkit-box-shadow:0 0px 4px #777, 0 0 20px #CCC inset;
                -moz-box-shadow:0 0px 4px #777, 0 0 20px #CCC inset;
                box-shadow:0 0px 4px #777, 0 0 20px #CCC inset;
}

#totalfiado{
	font-size: 30px;
	margin-left: 50px;
}


#totalfiado{
	font-size: 25px;
  
}

#saldo{
	margin-left: 50px;
	font-size: 20px;
}
#clien{
	margin-left: 50px;
	font-size: 20px;
}

#btnAbono{
	margin-left: 320px;
}


#redondo{

  width: 70px;
  height: 70px;
   border-radius: 50%;
   align-self: 500px;
}